<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.shane.repository.OrderRepository">

    <insert id="save" useGeneratedKeys="true" keyProperty="id">
        insert into tb_order (order_id, create_time, update_time, transaction_id)
        VALUES (#{orderId}, #{createTime}, #{updateTime}, #{transactionId})
    </insert>
    <select id="existByOrderId" resultType="java.lang.Long">
        select count(1)
        from tb_order
        where order_id = #{orderId}
          and is_del = false
    </select>
    <select id="existByTransactionId" resultType="java.lang.Integer">
        select count(1)
        from tb_order
        where transaction_id = #{transactionId}
          and is_del = false;
    </select>


</mapper>